In [1]:
import pandas as pd

In [10]:
df_fig23 = pd.read_csv('../02-T2OA_OA2Nx/Plots/Both_stations/scat_all_years_2stations_together_JA_FMA_Fig2_Fig3.csv', index_col=0)

In [14]:
df_fig23.head()

,station,data_source,T [deg C],Organic aerosol mass [ugm-3],N50 [#cm-3],N100 [#cm-3],N200 [#cm-3]
time,,,,,,,
2012-07-01,SMR,ECHAM-SALSA,18.582260,1.606002,1149.40460,217.438075,63.948521
2012-07-02,SMR,ECHAM-SALSA,17.134735,1.222597,764.26460,223.391205,47.563403
2012-07-03,SMR,ECHAM-SALSA,18.198884,0.671931,426.72479,189.808110,8.783231
2012-07-04,SMR,ECHAM-SALSA,17.032409,0.873673,696.11532,215.647970,10.454337
2012-07-05,SMR,ECHAM-SALSA,21.368225,1.150810,528.57750,284.398600,15.425049

In [15]:
df_fig23.to_csv('../../../Data/SourceData/Fig2Fig3.csv')

In [34]:
df_fig45_atto = pd.read_csv('../03-cloud_properties/03-01-ATTO/Plots/cloud_props__ATTO_data_fig4__FMA.csv', index_col=0)

In [35]:
df_fig45_atto

,lat,lon,OA [ugm-3],COT [],r_eff [um],station,data_source
time,,,,,,,
2012-02-01,-2.79789,294.375,1.332552,18.057370,4.065387,ATTO,ECHAM-SALSA
2012-02-01,-2.79789,300.000,1.332552,24.228577,8.281203,ATTO,ECHAM-SALSA
2012-02-01,-2.79789,301.875,1.332552,32.971416,2.541879,ATTO,ECHAM-SALSA
2012-02-01,-2.79789,303.750,1.332552,7.164207,23.460506,ATTO,ECHAM-SALSA
2012-02-01,-4.66315,294.375,1.332552,8.718533,17.296658,ATTO,ECHAM-SALSA
...,...,...,...,...,...,...,...
2017-03-18,-1.50000,-52.500,0.456561,12.580000,19.270000,ATTO,Observations
2017-03-27,-1.50000,-52.500,0.295751,8.210000,20.609999,ATTO,Observations
2017-04-07,-1.50000,-52.500,0.563776,6.720000,22.359999,ATTO,Observations
2017-04-09,-1.50000,-52.500,0.594209,5.560000,20.420000,ATTO,Observations
2017-04-11,-1.50000,-52.500,1.072802,7.200000,22.980000,ATTO,Observations

In [36]:
df_fig45_smr = pd.read_csv('../03-cloud_properties/03-02-SMR/Plots/cloud_props__SMR_data_fig4__JA.csv', index_col=0)

In [37]:
df_fig45 = pd.concat([df_fig45_smr, df_fig45_atto])

df_fig45.head()

,lat,lon,OA [ugm-3],COT [],r_eff [um],station,data_source
time,,,,,,,
2012-07-01,64.350730,24.375,1.265626,11.598585,13.771032,ATTO,ECHAM-SALSA
2012-07-01,64.350730,26.250,1.265626,31.440903,8.196594,ATTO,ECHAM-SALSA
2012-07-01,64.350730,28.125,1.265626,30.382397,6.886576,ATTO,ECHAM-SALSA
2012-07-01,64.350730,30.000,1.265626,34.299904,5.831119,ATTO,ECHAM-SALSA
2012-07-01,62.485571,26.250,1.265626,14.667716,8.120436,ATTO,ECHAM-SALSA

In [38]:
df_fig45.to_csv('../../../Data/SourceData/Fig4Fig5.csv', )